body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*Design of the main menu*/
.nav-tabs{
	border: 0.5px solid #E7E7E7 !important;
	background: #F8F8F8;
	border-radius: 4px;

}
.nav-tabs > li {
	margin-bottom: 0px;
}
.nav-tabs > li.active > a{
	border-color: transparent !important;
	border-radius:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
	background-color: #DDD;
	border-radius: 0px;
}

.nav-tabs > li > a:hover {
	border-color: transparent;
}
.nav > li > a:hover {
	background-color: transparent !important; 
}
.navbar-header {
	height: 42px;
}
.navbar-brand img{
	height: 20px;
	width: 50px;
}
/*End design of the main menu*/
#espacio{
	padding-top: 20px;
}